<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>摄影 - 联系</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center  me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <i class="bi bi-camera"></i>
        <h1>摄影</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">主页</a></li>
          <li class="dropdown"><a href="#"><span>画廊</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/gallery?label=动物">动物</a></li>
              <li><a href="/gallery?label=人">朋友</a></li>
              <li><a href="/gallery?label=自然界">自然</a></li>
              <li><a href="/gallery?label=建筑">建筑</a></li>
              <li><a href="/gallery?label=壁纸">壁纸</a></li>
              <li><a href="/gallery?label=旅行">旅行</a></li>
              <li><a href="/gallery?label=体育">体育</a></li>
              <li><a href="/gallery?label=时尚">时尚</a></li>
              <li><a href="/gallery?label=旅游">旅游</a></li>
              <li><a href="/gallery?label=电影">电影</a></li>
            </ul>
          </li>
          <li><a href="/author">摄影师</a></li>
          <li><a href="/creation">创作</a></li>
          <li><a href="/contact" class="active">联系</a></li>
          <li class="dropdown"><a href="#"><span>我的</span><i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/mine" id="mine">我的信息</a></li>
              <li><a href="/modify" id="modify">修改信息</a></li>
              <li><a href="/login" id="loginLink">登录</a></li>
              <li><a href="/login" id="logoutLink">注销</a></li>
            </ul>
          </li>
          <li style="margin-left: 25px;">
            <form action="/search" method="GET">
              <div class="input-group input-group-sm mb-3" style="margin-top: 15px">
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="search" required>
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">搜索</button>
              </div>
            </form>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->

  <main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>欢迎联系我们！</h2>
            <p>欢迎来到我们的图片摄影网站！我们专注于分享高品质的图片，涵盖各种主题和风格。如果你对我们的图片感兴趣，或者有任何问题或建议，欢迎通过电子邮件与我们联系。我们期待着收到你的来信，并尽快回复。</p>

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="row gy-4 justify-content-center">

          <div class="col-lg-3">
            <div class="info-item d-flex">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h4>地址:</h4>
                <p>北京市通州区应急管理大学</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3">
            <div class="info-item d-flex">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h4>邮箱:</h4>
                <p>1019528265@qq.com</p>
              </div>
            </div>
          </div><!-- End Info Item -->

          <div class="col-lg-3">
            <div class="info-item d-flex">
              <i class="bi bi-phone flex-shrink-0"></i>
              <div>
                <h4>电话:</h4>
                <p>+86 18233026011</p>
              </div>
            </div>
          </div><!-- End Info Item -->

        </div>

        <div class="row justify-content-center mt-4">

          <div class="col-lg-9">
            <div class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="请输入你的名字" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="请输入你要发送的邮箱" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="请输入主题" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" id="message" placeholder="请输入信息" required></textarea>
              </div>
              <div style="text-align: center;margin-top: 5px;margin-bottom: 2px" id="msg"></div>
              <div class="text-center send-email"><button type="submit">发送信息</button></div>
            </div>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container">
      <div class="copyright">
        &copy; 版权所有 <strong><span>摄影</span></strong>. 保留所有权利
      </div>
      <div class="credits">

      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader">
    <div class="line"></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="/static/assets/js/jquery.min.js"></script>
  <script>
    window.onload = function() {
      let token = window.sessionStorage.getItem('token');
      if (token !== "") {
        document.getElementById('mine').href = "/mine?id=" + token;
        document.getElementById('modify').href = "/modify?id=" + token;
      }
      // 找到登录和注销的链接元素
      const loginLink = document.getElementById('loginLink');
      const logoutLink = document.getElementById('logoutLink');
      if (token) {
        // 如果token存在，则显示注销，隐藏登录
        loginLink.style.display = 'none';
        logoutLink.style.display = 'block';
        // 添加处理注销逻辑的代码
        logoutLink.addEventListener('click', () => {
          window.sessionStorage.removeItem('token');
        });
      } else {
        // 如果token不存在，则显示登录，隐藏注销
        loginLink.style.display = 'block';
        logoutLink.style.display = 'none';
      }
    };
    $(function () {
      // 发送联系邮件
      $('.send-email').click(function () {
        let name = $('#name').val();
        let email = $('#email').val();
        let subject = $('#subject').val();
        let message = $('#message').val();
        name = name.trim();
        email = email.trim();
        subject = subject.trim();
        message = message.trim();
        let formData = new FormData();
        formData.append('name', name);
        formData.append('email', email);
        formData.append('subject', subject);
        formData.append('message', message);
        $.ajax({
          url: `/account/contact/mail`,
          type: 'post',
          data: formData,
          contentType: false,
          processData: false,
          dataType: 'json',
          success: function (res) {
            const {
              code,
              msg,
              data
            } = res;
              $('#msg').text(msg);
          },
          error: function (error) {
            console.log(error)
          }
        });
      });
    });
  </script>

</body>

</html>
