<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>摄影 - 图片创作</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center  me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <i class="bi bi-camera"></i>
        <h1>摄影</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">主页</a></li>
          <li class="dropdown"><a href="#"><span>画廊</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/gallery?label=动物">动物</a></li>
              <li><a href="/gallery?label=人">朋友</a></li>
              <li><a href="/gallery?label=自然界">自然</a></li>
              <li><a href="/gallery?label=建筑">建筑</a></li>
              <li><a href="/gallery?label=壁纸">壁纸</a></li>
              <li><a href="/gallery?label=旅行">旅行</a></li>
              <li><a href="/gallery?label=体育">体育</a></li>
              <li><a href="/gallery?label=时尚">时尚</a></li>
              <li><a href="/gallery?label=旅游">旅游</a></li>
              <li><a href="/gallery?label=电影">电影</a></li>
            </ul>
          </li>
          <li><a href="/author">摄影师</a></li>
          <li><a href="/creation" class="active">创作</a></li>
          <li><a href="/contact">联系</a></li>
          <li class="dropdown"><a href="#"><span>我的</span><i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/mine" id="mine">我的信息</a></li>
              <li><a href="/modify" id="modify">修改信息</a></li>
              <li><a href="/like" id="like">我的点赞</a></li>
              <li><a href="/collect" id="collect">我的收藏</a></li>
              <li><a href="/score" id="score">我的评分</a></li>
              <li><a href="/browse" id="browse">我的浏览</a></li>
              <li><a href="/login" id="loginLink">登录</a></li>
              <li><a href="/login" id="logoutLink">注销</a></li>
            </ul>
          </li>
          <li style="margin-left: 25px;">
            <form action="/search" method="GET">
              <div class="input-group input-group-sm mb-3" style="margin-top: 15px">
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="search" required>
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">搜索</button>
              </div>
            </form>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->

  <main id="main" data-aos="fade" data-aos-delay="1500">

        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
          <div class="container">
            <!-- ======= End Page Header ======= -->
            <div class="page-header d-flex align-items-center" style="padding: 60px 0 30px 0;">
              <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                  <div class="col-lg-5 text-center">
                    <h2>图片创作</h2><br>
                    <div class="input-group mb-3">
                      <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                      <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">上传</button>
                    </div>
                  </div>
                  <div class="row gy-4 justify-content-center">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                      <div class="gallery-item h-100 text-center">
                        <img src="/static/pictures/people/3TLl_97HNJo.jpg" class="img-fluid" alt="">
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="col-lg-10 text-center" style="margin: 40px 0">
                    <button type="button" class="btn btn-success col-lg-2" style="margin: 10px;height: 110%;">添加水印</button>
                    <button type="button" class="btn btn-success col-lg-2" style="margin: 10px;height: 110%;">裁剪图片</button>
                    <button type="button" class="btn btn-success col-lg-2" style="margin: 10px;height: 110%;">增加滤镜</button>
                    <button type="button" class="btn btn-success col-lg-2" style="margin: 10px;height: 110%;">提升分辨率</button>
                  </div>
                  <div class="col-lg-8 text-center" style="margin: 40px 0">
                    <button type="button" class="btn btn-outline-light col-lg-3" style="margin: 10px;height: 105%;">撤销</button>
                    <button type="button" class="btn btn-outline-light col-lg-3" style="margin: 10px;height: 105%;">保存</button>
                  </div>
                  <div class="text-center" id="msg"></div>
                </div>
              </div>
            </div><!-- End Page Header -->

          <div class="slides-3 swiper">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <a href="#" class="details-link">
                    <div class="profile mt-auto">
                      <img src="" class="testimonial-img" alt="">
                      <h3>添加水印</h3>
                    </div>
                    <p>
                      无论您是专业的摄影师还是热爱摄影的爱好者，我们都欢迎您在这里分享您的作品。让我们一起用图片讲述故事，创造美好的视觉体验！
                    </p>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </a>
                </div>
              </div><!-- End testimonial item -->
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <a href="#" class="details-link">
                    <div class="profile mt-auto">
                      <img src="" class="testimonial-img" alt="">
                      <h3>裁剪图片</h3>
                    </div>
                    <p>
                      无论您是专业的摄影师还是热爱摄影的爱好者，我们都欢迎您在这里分享您的作品。让我们一起用图片讲述故事，创造美好的视觉体验！
                    </p>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </a>
                </div>
              </div><!-- End testimonial item -->
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <a href="#" class="details-link">
                    <div class="profile mt-auto">
                      <img src="" class="testimonial-img" alt="">
                      <h3>增加滤镜</h3>
                    </div>
                    <p>
                      无论您是专业的摄影师还是热爱摄影的爱好者，我们都欢迎您在这里分享您的作品。让我们一起用图片讲述故事，创造美好的视觉体验！
                    </p>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </a>
                </div>
              </div><!-- End testimonial item -->
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <a href="#" class="details-link">
                    <div class="profile mt-auto">
                      <img src="" class="testimonial-img" alt="">
                      <h3>提升分辨率</h3>
                    </div>
                    <p>
                      无论您是专业的摄影师还是热爱摄影的爱好者，我们都欢迎您在这里分享您的作品。让我们一起用图片讲述故事，创造美好的视觉体验！
                    </p>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </a>
                </div>
              </div><!-- End testimonial item -->
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <a href="#" class="details-link">
                    <div class="profile mt-auto">
                      <img src="" class="testimonial-img" alt="">
                      <h3>图片压缩</h3>
                    </div>
                    <p>
                      无论您是专业的摄影师还是热爱摄影的爱好者，我们都欢迎您在这里分享您的作品。让我们一起用图片讲述故事，创造美好的视觉体验！
                    </p>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </a>
                </div>
              </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
          </div>

        </div>
      </section><!-- End Testimonials Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials1" class="testimonials">
      <div class="container">

        <div class="section-header">
          <h2>欢迎观看</h2>
          <p>优秀创作作品</p>
        </div>
        <section id="gallery" class="gallery">
          <div class="container-fluid">
            <div class="row gy-4 justify-content-center">

              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gallery-item h-100">
                  <img src="/static/pictures/people/4pxycrNRhvg.jpg" style="max-width:100%;height:100%" alt="">
                  <div class="gallery-links d-flex align-items-center justify-content-center">
                    <a href="#" title="" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                    <a href="/gallery-single?id=" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End Gallery Item -->

              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gallery-item h-100">
                  <img src="/static/pictures/people/5aGUyCW_PJw.jpg" style="max-width:100%;height:100%" alt="">
                  <div class="gallery-links d-flex align-items-center justify-content-center">
                    <a href="#" title="" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                    <a href="/gallery-single?id=" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End Gallery Item -->
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gallery-item h-100">
                  <img src="/static/pictures/people/1Nxq_3rp-PE.jpg" style="max-width:100%;height:100%" alt="">
                  <div class="gallery-links d-flex align-items-center justify-content-center">
                    <a href="#" title="" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                    <a href="/gallery-single?id=" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End Gallery Item -->
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gallery-item h-100">
                  <img src="/static/pictures/people/2PQs7LlDRgE.jpg" style="max-width:100%;height:100%" alt="">
                  <div class="gallery-links d-flex align-items-center justify-content-center">
                    <a href="#" title="" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                    <a href="/gallery-single?id=" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End Gallery Item -->

            </div>
          </div>
        </section><!-- End Gallery Section -->

      </div>
    </section><!-- End Testimonials Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container">
      <div class="copyright">
        &copy; 版权所有 <strong><span>摄影</span></strong>. 保留所有权利
      </div>
      <div class="credits">

      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader">
    <div class="line"></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="/static/assets/js/jquery.min.js"></script>
  <script>
    window.onload = function() {
      let token = window.sessionStorage.getItem('token');
      if (token !== "") {
        document.getElementById('mine').href = "/mine?id=" + token;
        document.getElementById('modify').href = "/modify?id=" + token;
        document.getElementById('like').href = "/like?id=" + token;
        document.getElementById('collect').href = "/collect?id=" + token;
        document.getElementById('score').href = "/score?id=" + token;
        document.getElementById('browse').href = "/browse?id=" + token;
      }
      // 找到登录和注销的链接元素
      const loginLink = document.getElementById('loginLink');
      const logoutLink = document.getElementById('logoutLink');
      if (token) {
        // 如果token存在，则显示注销，隐藏登录
        loginLink.style.display = 'none';
        logoutLink.style.display = 'block';
        // 添加处理注销逻辑的代码
        logoutLink.addEventListener('click', () => {
          window.sessionStorage.removeItem('token');
        });
      } else {
        // 如果token不存在，则显示登录，隐藏注销
        loginLink.style.display = 'block';
        logoutLink.style.display = 'none';
      }
    };
    // 上传文件
    $('#inputGroupFileAddon04').click(function () {
      let token = window.sessionStorage.getItem('token');
      if (token === "" || !token){
        let msg = $('#msg');
        msg.text("请登录后重试！");
        setTimeout(function clearContent() {
          msg.text(""); // 清空元素的文本内容
        }, 5000); // 3000毫秒 = 3秒
        return
      }
      let image = $('#inputGroupFile04')[0].files[0];
      let formData = new FormData();
      formData.append('image', image);
      formData.append('id', token);
      $.ajax({
        url: `/creation/upload/image`,
        type: 'post',
        data: formData,
        contentType: false,
        processData: false,
        dataType: 'json',
        success: function (res) {
          const {
            code,
            msg,
            data
          } = res;
          console.log(msg);
          console.log(data);
          let msg1 = $('#msg');
          msg1.text("请登录后重试！");
          setTimeout(function clearContent() {
            msg1.text(""); // 清空元素的文本内容
          }, 5000); // 3000毫秒 = 3秒
        },
        error: function (error) {
          console.log(error)
        }
      });
    });
  </script>

</body>

</html>
