<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>摄影 - 图片创作</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center  me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <i class="bi bi-camera"></i>
        <h1>摄影</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">主页</a></li>
          <li class="dropdown"><a href="#"><span>画廊</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/gallery?label=动物">动物</a></li>
              <li><a href="/gallery?label=人">朋友</a></li>
              <li><a href="/gallery?label=自然界">自然</a></li>
              <li><a href="/gallery?label=建筑">建筑</a></li>
              <li><a href="/gallery?label=壁纸">壁纸</a></li>
              <li><a href="/gallery?label=旅行">旅行</a></li>
              <li><a href="/gallery?label=体育">体育</a></li>
              <li><a href="/gallery?label=时尚">时尚</a></li>
              <li><a href="/gallery?label=旅游">旅游</a></li>
              <li><a href="/gallery?label=电影">电影</a></li>
            </ul>
          </li>
          <li><a href="/author">摄影师</a></li>
          <li><a href="/creation" class="active">创作</a></li>
          <li><a href="/contact">联系</a></li>
          <li class="dropdown"><a href="#"><span>我的</span><i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/mine" id="mine">我的信息</a></li>
              <li><a href="/modify" id="modify">修改信息</a></li>
              <li><a href="/like" id="like">我的点赞</a></li>
              <li><a href="/collect" id="collect">我的收藏</a></li>
              <li><a href="/score" id="score">我的评分</a></li>
              <li><a href="/browse" id="browse">我的浏览</a></li>
              <li><a href="/login" id="loginLink">登录</a></li>
              <li><a href="/login" id="logoutLink">注销</a></li>
            </ul>
          </li>
          <li style="margin-left: 25px;">
            <form action="/search" method="GET">
              <div class="input-group input-group-sm mb-3" style="margin-top: 15px">
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="search" required>
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">搜索</button>
              </div>
            </form>
          </li>
        </ul>
      </nav><!-- .navbar -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->

  <main id="main" data-aos="fade" data-aos-delay="1500">

        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
          <div class="container">
            <!-- ======= End Page Header ======= -->
            <div class="page-header d-flex align-items-center" style="padding: 60px 0 30px 0;">
              <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                  <div class="col-lg-5 text-center">
                    <h2>图片创作</h2><br>
                    <div class="input-group mb-3">
                      <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                      <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">上传</button>
                    </div>
                  </div>
                  <div class="row gy-4 justify-content-center">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                      <div class="gallery-item h-100 text-center">
                        <img src="" class="img-fluid" alt="" id="creating-image">
                      </div>
                    </div>
                  </div>
                  <div class="text-center" id="image-info"></div>
                  <div class="text-center" id="recognition-info" style="display: none"><br>
                    <p class="text-center" id="recognition-base"></p>
                    <p class="text-center" id="recognition-description"></p>
                    <a class="text-center" id="recognition-baike-url" target="_blank"></a><br>
                    <a class="text-center" id="recognition-image-url" target="_blank"></a>
                  </div>
                  <div class="text-center" id="msg"></div>
                  <div class="text-center" style="display: none" id="current-image-id"></div>
                  <div class="col-lg-8 text-center" style="margin: 20px 0">
                    <button type="button" class="btn btn-outline-light col-lg-2" style="margin: 10px;height: 105%;">撤销</button>
                    <button type="button" class="btn btn-outline-light col-lg-2" style="margin: 10px;height: 105%;">原始</button>
                    <button type="button" class="btn btn-outline-light col-lg-2" style="margin: 10px;height: 105%;">保存</button>
                  </div>
                  <div class="col-lg-10 text-center" style="margin: 40px 0">
                    <button type="button" class="btn btn-success col-lg-3 general-recognition" style="margin: 10px;height: 110%;">通用物体和场景识别</button>
                    <button type="button" class="btn btn-success col-lg-3 clarity-enhancement" style="margin: 10px;height: 110%;">图像清晰度增强</button>
                    <button type="button" class="btn btn-success col-lg-3 color-enhancement" style="margin: 10px;height: 110%;">图像色彩增强</button>
                  </div>
                  <div class="col-lg-10 text-center" style="margin: 40px 0">
                    <button type="button" class="btn btn-success col-lg-3 contrast-enhancement" style="margin: 10px;height: 110%;">图像对比度增强</button>
                    <button type="button" class="btn btn-success col-lg-3 zoom-pro" style="margin: 10px;height: 110%;">图像无损放大</button>
                    <button type="button" class="btn btn-success col-lg-3 defogging" style="margin: 10px;height: 110%;">图像去雾</button>
                  </div>
                  <div class="col-lg-10 text-center" style="margin: 40px 0">
<!--                    <button type="button" class="btn btn-success col-lg-3 animated-portraits" style="margin: 10px;height: 110%;">人像动漫化</button>-->
                    <div class="btn-group col-lg-3" style="margin: 10px;height: 110%;">
                      <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        人像动漫化
                      </button>
                      <ul class="dropdown-menu">
                        <li><button class="dropdown-item animated-portraits" name="anime" type="button">二次元动漫图</button></li>
                        <li><button class="dropdown-item animated-portraits" name="anime_mask" type="button">戴口罩的二次元动漫图</button></li>
                      </ul>
                    </div>
<!--                    <button type="button" class="btn btn-success col-lg-3 style-conversion" style="margin: 10px;height: 110%;">图像风格转换</button>-->
                    <div class="btn-group col-lg-3" style="margin: 10px;height: 110%;">
                      <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        图像风格转换
                      </button>
                      <ul class="dropdown-menu">
                        <li><button class="dropdown-item style-conversion" name="cartoon" type="button">卡通画风格</button></li>
                        <li><button class="dropdown-item style-conversion" name="pencil" type="button">铅笔风格</button></li>
                        <li><button class="dropdown-item style-conversion" name="color_pencil" type="button">彩色铅笔画风格</button></li>
                        <li><button class="dropdown-item style-conversion" name="warm" type="button">彩色糖块油画风格</button></li>
                        <li><button class="dropdown-item style-conversion" name="wave" type="button">神奈川冲浪里油画风格</button></li>
                        <li><button class="dropdown-item style-conversion" name="lavender" type="button">薰衣草油画风格</button></li>
                        <li><button class="dropdown-item style-conversion" name="mononoke" type="button">奇异油画风格</button></li>
                        <li><button class="dropdown-item style-conversion" name="scream" type="button">呐喊油画风格</button></li>
                        <li><button class="dropdown-item style-conversion" name="gothic" type="button">哥特油画风格</button></li>
                      </ul>
                    </div>
                    <button type="button" class="btn btn-success col-lg-3 custom-style-text" style="margin: 10px;height: 110%;">自定义图像风格</button>
                  </div>
                  <div class="col-lg-5 text-center" style="display: none" id="custom-style-info">
                    <div class="input-group mb-3">
                      <input type="file" class="form-control" id="inputGroupFile" aria-describedby="inputGroupFileAddon" aria-label="Upload">
                      <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon">生成</button>
                      <button class="btn btn-outline-secondary" type="button" id="custom-style-cancel">取消</button>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Page Header -->

          <div class="slides-3 swiper">
            <div class="swiper-wrapper">

              <div class="swiper-slide">
                <div class="testimonial-item">
                  <a href="#" class="details-link">
                    <div class="profile mt-auto">
                      <img src="" class="testimonial-img" alt="">
                      <h3>通用物体和场景识别</h3>
                    </div>
                    <p>
                      该请求用于通用物体及场景识别，即对于输入的一张图片，输出图片中的物体及场景标签。
                    </p>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </a>
                </div>
              </div><!-- End testimonial item -->
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <a href="#" class="details-link">
                    <div class="profile mt-auto">
                      <img src="" class="testimonial-img" alt="">
                      <h3>图像清晰度增强</h3>
                    </div>
                    <p>
                      对压缩后的模糊图像实现智能快速去噪，优化图像纹理细节，使画面更加自然清晰。
                    </p>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </a>
                </div>
              </div><!-- End testimonial item -->
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <a href="#" class="details-link">
                    <div class="profile mt-auto">
                      <img src="" class="testimonial-img" alt="">
                      <h3>图像色彩增强</h3>
                    </div>
                    <p>
                      可智能调节图片的色彩饱和度、亮度、对比度，使得图片内容细节、色彩更加逼真，可用于提升网站图片、手机相册图片、视频封面图片的质量。
                    </p>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </a>
                </div>
              </div><!-- End testimonial item -->
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <a href="#" class="details-link">
                    <div class="profile mt-auto">
                      <img src="" class="testimonial-img" alt="">
                      <h3>图像对比度增强</h3>
                    </div>
                    <p>
                      调整过暗或者过亮图像的对比度，使图像更加鲜明。
                    </p>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </a>
                </div>
              </div><!-- End testimonial item -->
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <a href="#" class="details-link">
                    <div class="profile mt-auto">
                      <img src="" class="testimonial-img" alt="">
                      <h3>图像无损放大</h3>
                    </div>
                    <p>
                      输入一张图片，可以在尽量保持图像质量的条件下，将图像在长宽方向各放大两倍。
                    </p>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </a>
                </div>
              </div><!-- End testimonial item -->
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <a href="#" class="details-link">
                    <div class="profile mt-auto">
                      <img src="" class="testimonial-img" alt="">
                      <h3>图像去雾</h3>
                    </div>
                    <p>
                      对浓雾天气下拍摄，导致细节无法辨认的图像进行去雾处理，还原更清晰真实的图像。
                    </p>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </a>
                </div>
              </div><!-- End testimonial item -->
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <a href="#" class="details-link">
                    <div class="profile mt-auto">
                      <img src="" class="testimonial-img" alt="">
                      <h3>人像动漫化</h3>
                    </div>
                    <p>
                      运用世界领先的对抗生成网络，结合人脸检测、头发分割、人像分割等技术，为用户量身定制千人千面的二次元动漫形象，并可以生成戴口罩的二次元动漫人像。
                    </p>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </a>
                </div>
              </div><!-- End testimonial item -->
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <a href="#" class="details-link">
                    <div class="profile mt-auto">
                      <img src="" class="testimonial-img" alt="">
                      <h3>图像风格转换</h3>
                    </div>
                    <p>
                      可将图像转化成卡通画、铅笔画、彩色铅笔画，或者哥特油画、彩色糖块油画、呐喊油画、神奈川冲浪里油画、奇异油画、薰衣草油画等共计9种风格，可用于开展趣味活动，或集成到美图应用中对图像进行风格转换。
                    </p>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </a>
                </div>
              </div><!-- End testimonial item -->
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <a href="#" class="details-link">
                    <div class="profile mt-auto">
                      <img src="" class="testimonial-img" alt="">
                      <h3>自定义图像风格</h3>
                    </div>
                    <p>
                      支持自定义风格图+待处理图片进行风格迁移处理，自定义图片的风格，可用于开展趣味活动，或集成到美图应用中对图像进行风格转换。
                    </p>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </a>
                </div>
              </div><!-- End testimonial item -->

            </div>
            <div class="swiper-pagination"></div>
          </div>

        </div>
      </section><!-- End Testimonials Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials1" class="testimonials">
      <div class="container">

        <div class="section-header">
          <h2>欢迎观看</h2>
          <p>优秀创作作品</p>
        </div>
        <section id="gallery" class="gallery">
          <div class="container-fluid">
            <div class="row gy-4 justify-content-center">

              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gallery-item h-100">
                  <img src="/static/pictures/people/4pxycrNRhvg.jpg" style="max-width:100%;height:100%" alt="">
                  <div class="gallery-links d-flex align-items-center justify-content-center">
                    <a href="#" title="" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                    <a href="/gallery-single?id=" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End Gallery Item -->

              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gallery-item h-100">
                  <img src="/static/pictures/people/5aGUyCW_PJw.jpg" style="max-width:100%;height:100%" alt="">
                  <div class="gallery-links d-flex align-items-center justify-content-center">
                    <a href="#" title="" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                    <a href="/gallery-single?id=" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End Gallery Item -->
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gallery-item h-100">
                  <img src="/static/pictures/people/1Nxq_3rp-PE.jpg" style="max-width:100%;height:100%" alt="">
                  <div class="gallery-links d-flex align-items-center justify-content-center">
                    <a href="#" title="" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                    <a href="/gallery-single?id=" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End Gallery Item -->
              <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="gallery-item h-100">
                  <img src="/static/pictures/people/2PQs7LlDRgE.jpg" style="max-width:100%;height:100%" alt="">
                  <div class="gallery-links d-flex align-items-center justify-content-center">
                    <a href="#" title="" class="glightbox preview-link"><i class="bi bi-arrows-angle-expand"></i></a>
                    <a href="/gallery-single?id=" class="details-link"><i class="bi bi-link-45deg"></i></a>
                  </div>
                </div>
              </div><!-- End Gallery Item -->

            </div>
          </div>
        </section><!-- End Gallery Section -->

      </div>
    </section><!-- End Testimonials Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container">
      <div class="copyright">
        &copy; 版权所有 <strong><span>摄影</span></strong>. 保留所有权利
      </div>
      <div class="credits">

      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader">
    <div class="line"></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="/static/assets/js/jquery.min.js"></script>
  <script>
    window.onload = function() {
      let token = window.sessionStorage.getItem('token');
      if (token !== "") {
        document.getElementById('mine').href = "/mine?id=" + token;
        document.getElementById('modify').href = "/modify?id=" + token;
        document.getElementById('like').href = "/like?id=" + token;
        document.getElementById('collect').href = "/collect?id=" + token;
        document.getElementById('score').href = "/score?id=" + token;
        document.getElementById('browse').href = "/browse?id=" + token;
      }
      // 找到登录和注销的链接元素
      const loginLink = document.getElementById('loginLink');
      const logoutLink = document.getElementById('logoutLink');
      if (token) {
        // 如果token存在，则显示注销，隐藏登录
        loginLink.style.display = 'none';
        logoutLink.style.display = 'block';
        // 添加处理注销逻辑的代码
        logoutLink.addEventListener('click', () => {
          window.sessionStorage.removeItem('token');
        });
      } else {
        // 如果token不存在，则显示登录，隐藏注销
        loginLink.style.display = 'block';
        logoutLink.style.display = 'none';
      }
    };
    // 上传文件
    $('#inputGroupFileAddon04').click(function () {
      let token = window.sessionStorage.getItem('token');
      let image = $('#inputGroupFile04')[0].files[0];
      let msg = $('#msg');
      if (token === null){
        msg.text("请登录后重试！");
        setTimeout(function clearContent() {
          msg.text(""); // 清空元素的文本内容
        }, 5000); // 3000毫秒 = 3秒
        return
      }
      if (image === undefined){
        msg.text("请上传文件后重试！");
        setTimeout(function clearContent() {
          msg.text(""); // 清空元素的文本内容
        }, 5000); // 3000毫秒 = 3秒
        return
      }
      let formData = new FormData();
      formData.append('image', image);
      formData.append('id', token);
      $.ajax({
        url: `/creation/upload/image`,
        type: 'post',
        data: formData,
        contentType: false,
        processData: false,
        dataType: 'json',
        success: function (res) {
          const {
            code,
            msg,
            data
          } = res;
          document.getElementById('creating-image').src = data.imageInfo.path;
          window.sessionStorage.setItem('origin-image-id', data.imageInfo.id);
          $('#current-image-id').text(data.imageInfo.id);
          $('#image-info').text("图片宽度："+data.img.Width+"像素，高度："+data.img.Height+"像素");
        },
        error: function (error) {
          console.log(error)
        }
      });
    });
    // 通用物体和场景识别
    $('.general-recognition').click(function () {
      let token = window.sessionStorage.getItem('token');
      let imageId = document.getElementById('current-image-id').textContent
      let msg = $('#msg');
      if (token === null){
        msg.text("请登录后重试！");
        setTimeout(function clearContent() {
          msg.text(""); // 清空元素的文本内容
        }, 5000); // 5000毫秒 = 5秒
        return
      }
      let imagePath = document.getElementById('creating-image').src;
      if (imageId===null || imageId===""){
        msg.text("请上传文件后重试！");
        setTimeout(function clearContent() {
          msg.text(""); // 清空元素的文本内容
        }, 5000); // 5000毫秒 = 5秒
        return
      }
      msg.text("正在图像识别中。。。");
      let formData = new FormData();
      formData.append('userId', token);
      formData.append('imageId', imageId);
      formData.append('imagePath', imagePath);
      $.ajax({
        url: `/creation/general/recognition`,
        type: 'post',
        data: formData,
        contentType: false,
        processData: false,
        dataType: 'json',
        success: function (res) {
          const {
            code,
            msg,
            data
          } = res;
          console.log(data);
          console.log(msg);
          if (msg==="通用物体和场景识别成功"){
            document.getElementById('recognition-info').style.display = "block";
            $('#recognition-base').text("识别名称："+data.imageInfo.keyword+"；识别标签："+data.imageInfo.root+"；识别准确率："+data.imageInfo.score);
            $('#recognition-baike-url').text("百度百科页面链接："+data.imageInfo.baike_url);
            document.getElementById('recognition-baike-url').href = data.imageInfo.baike_url;
            $('#recognition-image-url').text("百科图片链接："+data.imageInfo.image_url);
            document.getElementById('recognition-image-url').href = data.imageInfo.image_url;
            $('#recognition-description').text("百科内容描述："+data.imageInfo.description);
          }
          $('#msg').text(msg);
          setTimeout(function clearContent() {
            $('#msg').text(""); // 清空元素的文本内容
          }, 5000); // 5000毫秒 = 5秒
        },
        error: function (error) {
          console.log(error)
        }
      });
    });
    // 图像清晰度增强
    $('.clarity-enhancement').click(function () {
      let token = window.sessionStorage.getItem('token');
      let imageId = document.getElementById('current-image-id').textContent
      let msg = $('#msg');
      if (token === null){
        msg.text("请登录后重试！");
        setTimeout(function clearContent() {
          msg.text(""); // 清空元素的文本内容
        }, 5000); // 5000毫秒 = 5秒
        return
      }
      let imagePath = document.getElementById('creating-image').src;
      if (imageId===null || imageId===""){
        msg.text("请上传文件后重试！");
        setTimeout(function clearContent() {
          msg.text(""); // 清空元素的文本内容
        }, 5000); // 5000毫秒 = 5秒
        return
      }
      msg.text("正在图像清晰度增强中。。。");
      let formData = new FormData();
      formData.append('userId', token);
      formData.append('imageId', imageId);
      formData.append('imagePath', imagePath);
      $.ajax({
        url: `/creation/clarity/enhancement`,
        type: 'post',
        data: formData,
        contentType: false,
        processData: false,
        dataType: 'json',
        success: function (res) {
          const {
            code,
            msg,
            data
          } = res;
          console.log(data);
          console.log(msg);
          document.getElementById('creating-image').src = data.imageInfo.path;
          $('#current-image-id').text(data.imageInfo.id);
          $('#msg').text(msg);
          setTimeout(function clearContent() {
            $('#msg').text(""); // 清空元素的文本内容
          }, 5000); // 5000毫秒 = 5秒
        },
        error: function (error) {
          console.log(error)
        }
      });
    });
    // 图像色彩增强
    $('.color-enhancement').click(function () {
      let token = window.sessionStorage.getItem('token');
      let imageId = document.getElementById('current-image-id').textContent
      let msg = $('#msg');
      if (token === null){
        msg.text("请登录后重试！");
        setTimeout(function clearContent() {
          msg.text(""); // 清空元素的文本内容
        }, 5000); // 5000毫秒 = 5秒
        return
      }
      let imagePath = document.getElementById('creating-image').src;
      if (imageId===null || imageId===""){
        msg.text("请上传文件后重试！");
        setTimeout(function clearContent() {
          msg.text(""); // 清空元素的文本内容
        }, 5000); // 5000毫秒 = 5秒
        return
      }
      msg.text("正在图像色彩增强中。。。");
      let formData = new FormData();
      formData.append('userId', token);
      formData.append('imageId', imageId);
      formData.append('imagePath', imagePath);
      $.ajax({
        url: `/creation/color/enhancement`,
        type: 'post',
        data: formData,
        contentType: false,
        processData: false,
        dataType: 'json',
        success: function (res) {
          const {
            code,
            msg,
            data
          } = res;
          console.log(data);
          console.log(msg);
          document.getElementById('creating-image').src = data.imageInfo.path;
          $('#current-image-id').text(data.imageInfo.id);
          $('#msg').text(msg);
          setTimeout(function clearContent() {
            $('#msg').text(""); // 清空元素的文本内容
          }, 5000); // 5000毫秒 = 5秒
        },
        error: function (error) {
          console.log(error)
        }
      });
    });
    // 图像对比度增强
    $('.contrast-enhancement').click(function () {
      let token = window.sessionStorage.getItem('token');
      let imageId = document.getElementById('current-image-id').textContent
      let msg = $('#msg');
      if (token === null){
        msg.text("请登录后重试！");
        setTimeout(function clearContent() {
          msg.text(""); // 清空元素的文本内容
        }, 5000); // 5000毫秒 = 5秒
        return
      }
      let imagePath = document.getElementById('creating-image').src;
      if (imagePath === "" || imageId===null || imageId===""){
        msg.text("请上传文件后重试！");
        setTimeout(function clearContent() {
          msg.text(""); // 清空元素的文本内容
        }, 5000); // 5000毫秒 = 5秒
        return
      }
      msg.text("正在图像对比度增强中。。。");
      let formData = new FormData();
      formData.append('userId', token);
      formData.append('imageId', imageId);
      formData.append('imagePath', imagePath);
      $.ajax({
        url: `/creation/contrast/enhancement`,
        type: 'post',
        data: formData,
        contentType: false,
        processData: false,
        dataType: 'json',
        success: function (res) {
          const {
            code,
            msg,
            data
          } = res;
          console.log(data);
          console.log(msg);
          document.getElementById('creating-image').src = data.imageInfo.path;
          $('#current-image-id').text(data.imageInfo.id);
          $('#msg').text(msg);
          setTimeout(function clearContent() {
            $('#msg').text(""); // 清空元素的文本内容
          }, 5000); // 5000毫秒 = 5秒
        },
        error: function (error) {
          console.log(error)
        }
      });
    });
    // 图像无损放大
    $('.zoom-pro').click(function () {
      let token = window.sessionStorage.getItem('token');
      let imageId = document.getElementById('current-image-id').textContent
      let msg = $('#msg');
      if (token === null){
        msg.text("请登录后重试！");
        setTimeout(function clearContent() {
          msg.text(""); // 清空元素的文本内容
        }, 5000); // 5000毫秒 = 5秒
        return
      }
      let imagePath = document.getElementById('creating-image').src;
      if (imageId===null || imageId===""){
        msg.text("请上传文件后重试！");
        setTimeout(function clearContent() {
          msg.text(""); // 清空元素的文本内容
        }, 5000); // 5000毫秒 = 5秒
        return
      }
      msg.text("正在图像无损放大中。。。");
      let formData = new FormData();
      formData.append('userId', token);
      formData.append('imageId', imageId);
      formData.append('imagePath', imagePath);
      $.ajax({
        url: `/creation/zoom/pro`,
        type: 'post',
        data: formData,
        contentType: false,
        processData: false,
        dataType: 'json',
        success: function (res) {
          const {
            code,
            msg,
            data
          } = res;
          console.log(data);
          console.log(msg);
          document.getElementById('creating-image').src = data.imageInfo.path;
          $('#current-image-id').text(data.imageInfo.id);
          $('#msg').text(msg);
          setTimeout(function clearContent() {
            $('#msg').text(""); // 清空元素的文本内容
          }, 5000); // 5000毫秒 = 5秒
        },
        error: function (error) {
          console.log(error)
        }
      });
    });
    // 图像去雾
    $('.defogging').click(function () {
      let token = window.sessionStorage.getItem('token');
      let imageId = document.getElementById('current-image-id').textContent
      let msg = $('#msg');
      if (token === null){
        msg.text("请登录后重试！");
        setTimeout(function clearContent() {
          msg.text(""); // 清空元素的文本内容
        }, 5000); // 5000毫秒 = 5秒
        return
      }
      let imagePath = document.getElementById('creating-image').src;
      if (imageId===null || imageId===""){
        msg.text("请上传文件后重试！");
        setTimeout(function clearContent() {
          msg.text(""); // 清空元素的文本内容
        }, 5000); // 5000毫秒 = 5秒
        return
      }
      msg.text("正在图像去雾中。。。");
      let formData = new FormData();
      formData.append('userId', token);
      formData.append('imageId', imageId);
      formData.append('imagePath', imagePath);
      $.ajax({
        url: `/creation/defogging`,
        type: 'post',
        data: formData,
        contentType: false,
        processData: false,
        dataType: 'json',
        success: function (res) {
          const {
            code,
            msg,
            data
          } = res;
          console.log(data);
          console.log(msg);
          document.getElementById('creating-image').src = data.imageInfo.path;
          $('#current-image-id').text(data.imageInfo.id);
          $('#msg').text(msg);
          setTimeout(function clearContent() {
            $('#msg').text(""); // 清空元素的文本内容
          }, 5000); // 5000毫秒 = 5秒
        },
        error: function (error) {
          console.log(error)
        }
      });
    });
    // 图像风格转换
    $('.style-conversion').click(function () {
      let token = window.sessionStorage.getItem('token');
      let imageId = document.getElementById('current-image-id').textContent
      let style = $(this).attr('name');
      console.log('点击的下拉菜单项name属性值：', style);
      let msg = $('#msg');
      if (token === null){
        msg.text("请登录后重试！");
        setTimeout(function clearContent() {
          msg.text(""); // 清空元素的文本内容
        }, 5000); // 5000毫秒 = 5秒
        return
      }
      let imagePath = document.getElementById('creating-image').src;
      if (imageId===null || imageId===""){
        msg.text("请上传文件后重试！");
        setTimeout(function clearContent() {
          msg.text(""); // 清空元素的文本内容
        }, 5000); // 5000毫秒 = 5秒
        return
      }
      msg.text("正在图像风格转换中。。。");
      let formData = new FormData();
      formData.append('userId', token);
      formData.append('imageId', imageId);
      formData.append('imagePath', imagePath);
      formData.append('style', style);
      $.ajax({
        url: `/creation/style/conversion`,
        type: 'post',
        data: formData,
        contentType: false,
        processData: false,
        dataType: 'json',
        success: function (res) {
          const {
            code,
            msg,
            data
          } = res;
          console.log(data);
          console.log(msg);
          document.getElementById('creating-image').src = data.imageInfo.path;
          $('#current-image-id').text(data.imageInfo.id);
          $('#msg').text(msg);
          setTimeout(function clearContent() {
            $('#msg').text(""); // 清空元素的文本内容
          }, 5000); // 5000毫秒 = 5秒
        },
        error: function (error) {
          console.log(error)
        }
      });
    });
    // 人像动漫化
    $('.animated-portraits').click(function () {
      let token = window.sessionStorage.getItem('token');
      let imageId = document.getElementById('current-image-id').textContent
      let type = $(this).attr('name');
      console.log('点击的下拉菜单项name属性值：', type);
      let msg = $('#msg');
      if (token === null){
        msg.text("请登录后重试！");
        setTimeout(function clearContent() {
          msg.text(""); // 清空元素的文本内容
        }, 5000); // 5000毫秒 = 5秒
        return
      }
      let imagePath = document.getElementById('creating-image').src;
      if (imageId===null || imageId===""){
        msg.text("请上传文件后重试！");
        setTimeout(function clearContent() {
          msg.text(""); // 清空元素的文本内容
        }, 5000); // 5000毫秒 = 5秒
        return
      }
      msg.text("正在人像动漫化中。。。");
      let formData = new FormData();
      formData.append('userId', token);
      formData.append('imageId', imageId);
      formData.append('imagePath', imagePath);
      formData.append('type', type);
      $.ajax({
        url: `/creation/animated/portraits`,
        type: 'post',
        data: formData,
        contentType: false,
        processData: false,
        dataType: 'json',
        success: function (res) {
          const {
            code,
            msg,
            data
          } = res;
          console.log(data);
          console.log(msg);
          document.getElementById('creating-image').src = data.imageInfo.path;
          $('#current-image-id').text(data.imageInfo.id);
          $('#msg').text(msg);
          setTimeout(function clearContent() {
            $('#msg').text(""); // 清空元素的文本内容
          }, 5000); // 5000毫秒 = 5秒
        },
        error: function (error) {
          console.log(error)
        }
      });
    });
    // 自定义图像风格操作显示
    $('.custom-style-text').click(function () {
      document.getElementById('custom-style-info').style.display="block";
    });
    // 自定义图像风格操作显示
    $('#custom-style-cancel').click(function () {
      document.getElementById('custom-style-info').style.display="none";
    });
    // 自定义图像风格
    $('#inputGroupFileAddon').click(function () {
      let token = window.sessionStorage.getItem('token');
      let imageId = document.getElementById('current-image-id').textContent
      let image = $('#inputGroupFile')[0].files[0];
      let msg = $('#msg');
      if (token === null){
        msg.text("请登录后重试！");
        setTimeout(function clearContent() {
          msg.text(""); // 清空元素的文本内容
        }, 5000); // 5000毫秒 = 5秒
        return
      }
      let imagePath = document.getElementById('creating-image').src;
      if (imageId===null || imageId===""){
        msg.text("请上传文件后重试！");
        setTimeout(function clearContent() {
          msg.text(""); // 清空元素的文本内容
        }, 5000); // 5000毫秒 = 5秒
        return
      }
      if (image === undefined){
        msg.text("请上传目标图像风格文件后重试！");
        setTimeout(function clearContent() {
          msg.text(""); // 清空元素的文本内容
        }, 5000); // 3000毫秒 = 3秒
        return
      }
      msg.text("正在自定义图像风格中。。。");
      let formData = new FormData();
      formData.append('userId', token);
      formData.append('imageId', imageId);
      formData.append('imagePath', imagePath);
      formData.append('image', image);
      $.ajax({
        url: `/creation/custom/style`,
        type: 'post',
        data: formData,
        contentType: false,
        processData: false,
        dataType: 'json',
        success: function (res) {
          const {
            code,
            msg,
            data
          } = res;
          console.log(data);
          console.log(msg);
          document.getElementById('creating-image').src = data.imageInfo.path;
          $('#current-image-id').text(data.imageInfo.id);
          document.getElementById('custom-style-info').style.display="none";
          $('#msg').text(msg);
          setTimeout(function clearContent() {
            $('#msg').text(""); // 清空元素的文本内容
          }, 5000); // 5000毫秒 = 5秒
        },
        error: function (error) {
          console.log(error)
        }
      });
    });
  </script>

</body>

</html>
