<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>摄影 - 画廊单体</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/main.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center  me-auto me-lg-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <i class="bi bi-camera"></i>
        <h1>摄影</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">主页</a></li>
          <li><a href="/about">关于</a></li>
          <li class="dropdown"><a href="#"><span>画廊</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/gallery" class="active">自然</a></li>
              <li><a href="/gallery">朋友</a></li>
              <li><a href="/gallery">建筑</a></li>
              <li><a href="/gallery">动物</a></li>
              <li><a href="/gallery">运动</a></li>
              <li><a href="/gallery">旅游</a></li>
              <li class="dropdown"><a href="#"><span>子菜单</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="#">子菜单 1</a></li>
                  <li><a href="#">子菜单 2</a></li>
                  <li><a href="#">子菜单 3</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/services">服务</a></li>
          <li><a href="/contact">联系</a></li>
        </ul>
      </nav><!-- .navbar -->

      <div class="header-social-links">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
  </header><!-- End Header -->

  <main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>画廊单</h2>
            <p>厌恶与无偿。永不进行锻炼。公仆认为厌恶是一种享受，因为厌恶就是享受。生来就有痛苦的债务，真理的债务。好像有理可循似的。寻求自身痛苦的索求。</p>

            <a class="cta-btn" href="/contact">可供租用</a>

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <!-- ======= Gallery Single Section ======= -->
    <section id="gallery-single" class="gallery-single">
      <div class="container">

        <div class="position-relative h-100">
          <div class="slides-1 portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

              <div class="swiper-slide">
                <img src="assets/img/gallery/gallery-8.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="assets/img/gallery/gallery-9.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="assets/img/gallery/gallery-10.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="assets/img/gallery/gallery-11.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="assets/img/gallery/gallery-12.jpg" alt="">
              </div>
              <div class="swiper-slide">
                <img src="assets/img/gallery/gallery-13.jpg" alt="">
              </div>

            </div>
            <div class="swiper-pagination"></div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>

        </div>

        <div class="row justify-content-between gy-4 mt-4">

          <div class="col-lg-8">
            <div class="portfolio-description">
              <h2>这是投资组合详细信息的示例</h2>
              <p>
                谁会为痛苦而痛苦，发明家发明了商品和工作。拒绝服务和非正式服务都是不正当的，因此，当然，这是不正当的。指控的官员和指控的官员都是无用的，因为所有的时间都必须用来提供服务。他是否继续这样做，这是否有意义，他是否为此付出代价。
              </p>
              <p>
                来吧，让我们坐下来享受一下。不是因为厌恶而出生，而是因为名字和。目前的错误和痛苦来自于生活的本质，这是无法避免的。他们不知道痛苦和痛苦，也不知道痛苦的劳动。
              </p>

              <div class="testimonial-item">
                <p>
                  <i class="bi bi-quote quote-icon-left"></i>
                  尽管如此，暂时还是有一些不好的事情发生了，这可能是由于劳动力不足导致的。然而，那些仍然留在原地的人似乎对将来发生的事情感到满意。我们的某些人可能会逃跑，但这并不是我们的错。我们应该追究的是那些导致这种情况发生的领导人。
                  <i class="bi bi-quote quote-icon-right"></i>
                </p>
                <div>
                  <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>萨拉·威尔逊</h3>
                  <h4>设计者</h4>
                </div>
              </div>

              <p>
                障碍和痛苦，以及一些无用的东西。在灵魂深处，他们意识到自己的无助和无力。他们不知道该去哪里，也不知道该做什么。他们被遗弃在时间的洪流中，无法逃避。他们被指责，被谴责，被遗弃。

              <p>
              容易感到快乐和舒适，因为厌恶和自我排斥会消除债务。自由也会带来痛苦。我将解释哪些必要的事情是相似的，因为痛苦是他们的本质。永远不会出现当前的记忆，也不会有人知道。
              </p>

            </div>
          </div>

          <div class="col-lg-3">
            <div class="portfolio-info">
              <h3>项目 信息</h3>
              <ul>
                <li><strong>类别</strong> <span>自然摄影</span></li>
                <li><strong>客户</strong> <span>ASU 公司</span></li>
                <li><strong>项目日期</strong> <span>2022年3月1日</span></li>
                <li><strong>项目链接</strong> <a href="#">www.example.com</a></li>
                <li><a href="#" class="btn-visit align-self-start">访问网站</a></li>
              </ul>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Gallery Single Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="container">
      <div class="copyright">
        &copy; 版权所有 <strong><span>摄影</span></strong>. 保留所有权利
      </div>
      <div class="credits">

      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader">
    <div class="line"></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
